nav {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 30px;
}

hr {
	border: solid 1px;
}

p {
    
}

body {
background: url("https://cdn.dribbble.com/users/303740/screenshots/1523292/rmq_back.jpg");
}

.navbar-brand {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #F24C4E;
	animation-name: change;
    animation-duration: 4s;
}

/* for some reason, the connect with me icons change size when this is active
@keyframes change {
    from {background-color: #F24C4E;}
    to {background-color: yellow;} 
*/



.container-about-me {
	padding-top: 15px;
	border: solid 5px;
	height: 500px;
	text-align: left;
    background-color: white;
}

.about-me-body {
    display: flex;
}

.about-me-text {
    margin-left: 1rem;
    line-height: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.connect-icon {
	width: 4rem;
	height: 4rem;
}

.about-me-box-portfolio {
	padding-top: 15px;
	border: solid 5px;
	width: 600px;
	height: 670px;
    background-color: white;

}

.large-text-form {
	height: 170px;
	width: 400px;
}

.small-container {
	float: left;
	margin: 20px;
	position: relative;
}

.small-container-text {
	position: absolute;
	bottom: 10px;
	padding: 15px;
	width: 250px;
	text-align: center;
	background-color: #C23D88;
	color: #ffffff;
}

.wrap-image2 {
	height: 150px;
	width: 250px;
}

.card-connect {

}

.card-footer {
    background-color: #FDCA40;
    height: 3.7rem;
}

.p-footer {
    padding-bottom: 0;
    line-height: 0.75rem;
}

.card {
    margin-top: 3rem;
    
}

.card-body {
    text-align: center;
    padding: 0.50rem
}

.btn {
    border: none;
    margin: .35rem
}

.btn-music-link {
    background-color: #FFD5C2;
}

.btn-music-link-solace {
    background-color: #E3D8C7;
}

.dropdown-toggle {

}

ul li div {
    position: absolute;
    width: 200px;
    display: none;
}

ul li div a { 
  background: #555; 
  display: block; 
}
ul li ul a {display:block !important;} 
ul li ul a:hover {background: #666;}


@media only screen and (min-width: 640px) {

	.col-m-1 {width: 100%;}
    .col-m-2 {width: 100%;}
    .col-m-3 {width: 100%;}
    .col-m-4 {width: 100%;}
    .col-m-5 {width: 100%;}
    .col-m-6 {width: 100%;}
    .col-m-7 {width: 100%;}
    .col-m-8 {width: 100%;}
    .col-m-9 {width: 100%;}
    .col-m-10 {width: 100%;}
    .col-m-11 {width: 100%;}
    .col-m-12 {width: 100%;}

}


@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}

@media only screen and (min-width: 980px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}